<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="homepage">
    <classes>
      <class name="tests.homepagetest"/>
      <class name="tests.login"/>      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
